In [1]:
import pandas as pd
import numpy as np
import os 
import pyranges as pr
from scipy.sparse import csr_matrix

# load DB

In [2]:
fpath = "/scratch/indikar_root/indikar1/shared_data/higher_order/reference/reference_db.parquet"

gdf = pd.read_parquet(fpath)
print(f"{gdf.shape=}")
gdf = gdf.fillna(0.0)
gdf['fragment_id'] = (gdf['fragment_id'] + 1).astype(int)
gdf = gdf.set_index('fragment_id')
gdf.head()

gdf.shape=(12901276, 18)

,Chromosome,Start,End,fragment_length,ATACSeq_1,ATACSeq_2,ATACSeq_3,CTCF,H3K27ac,H3K27me3,RNA_1,RNA_2,RNA_3,RNA_4,RNA_5,RNA_6,PolII
fragment_id,,,,,,,,,,,,,,,,,
1,1,0.0,3050051.0,3050051.0,0.057623,0.017762,0.018069,0.009718,0.024774,0.015503,0.239711,0.0,0.13278,0.271721,0.0,0.104429,0.008725
2,1,3050051.0,3050056.0,5.0,0.193990,0.000000,0.314300,0.450920,0.000000,0.347250,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.000000
3,1,3050056.0,3050844.0,788.0,0.242762,0.000000,0.128138,0.127551,0.037367,0.282251,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.001214
4,1,3050844.0,3050907.0,63.0,0.597246,0.000000,0.404900,0.220927,0.000000,0.267332,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.191360
5,1,3050907.0,3050947.0,40.0,0.693400,0.000000,0.315609,0.165337,0.000000,0.169318,0.000000,0.0,0.00000,0.000000,0.0,0.000000,0.191360

In [7]:
gdf[['ATACSeq_1', 'H3K27ac', 'PolII', 'H3K27me3', 'RNA_1']].corr()

           ATACSeq_1   H3K27ac     PolII  H3K27me3     RNA_1
ATACSeq_1   1.000000  0.277311  0.340775  0.168503  0.006906
H3K27ac     0.277311  1.000000  0.390328 -0.012725  0.004301
PolII       0.340775  0.390328  1.000000  0.022326  0.006205
H3K27me3    0.168503 -0.012725  0.022326  1.000000  0.000050
RNA_1       0.006906  0.004301  0.006205  0.000050  1.000000

# Load Pore-C

In [3]:
fpath = "/scratch/indikar_root/indikar1/shared_data/higher_order/restriction/incidence.pickle"
df = pd.read_pickle(fpath)
print(f"{df.shape=}")
df.head()

df.shape=(6306765, 2714221)

,52aab340-35f0-4a9a-b718-b3381a32c138,7bc15260-783f-43bc-9ad5-b5d5a94ffcb0,f39396b9-248f-45e5-a79c-19d6713eb5be,1ed5c9f0-d723-4d72-b415-a4079e734e94,3e85c22a-fafc-4b99-be8b-30519965d58f,24141009-2447-4d29-aa41-ea307d3f3e6d,c6ec36d1-8076-4273-b50b-ae1e9d0041cf,e5dc02d8-a311-4756-b9ab-91ecce23129b,caa721fc-e369-4245-8e48-f6acab03bb27,1b39bb35-63cd-4ea8-a9dc-d3616c323ac9,...,1fb0f26c-bc67-4c4e-a1d6-6b1b0d0794cf,0a281381-40e4-4fa4-8885-820a02542e63,d41a6081-ffd4-4a3e-b738-53b6a70c9840,27a935e1-8b0d-4c7e-9ef9-95500b0172eb,73c78dcf-18da-4132-ac30-59c2457065ea,af8dc02b-bfd5-4be9-b7ad-c7c53796c025,1487ed78-5070-411b-bd43-b13313de063f,58e75c47-ff7a-4718-bac8-f74347e08fb0,670c3edc-eed7-4942-a61d-2d4956309667,c4f13e9d-31cb-4a07-beab-00d4ba393c33
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0